/* html {
    box-sizing: border-box;
    text-align: center;
} */

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
  
}

*:focus {
    outline: none;
}

html, body{
  text-align: center;  
  width: 100%;
  height: 100%;
  background:grey;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
}

.epos{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
}

.shake {
    animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.eball{
  height: 400px;
  width: 400px;
  background: rgb(30,30,30);
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: inset -10px 10px 50px rgba(255,255,255,0.4), inset 5px -5px 50px rgba(0,0,0,1), inset 50px -50px 200px rgba(0,0,0,1), inset 0px -20px 20px rgba(60,0,60, 1);
}

.egrad{
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(242,242,242,0.2) 7%,rgba(30,30,30,0.1) 30%,rgba(30,30,30,0.00) 100%);
  width: 400px;
  height: 400px;
  border-radius: 100%;
  left: 60%;
  top: 30%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.ewin{
  position: absolute;
  background: linear-gradient(45deg, rgba(20,0,20,1) 0%, rgba(40,0,40,1) 100%);
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: solid 4px rgba(20,20,20,0.8);
  box-shadow: 10px -10px 10px rgba(20,20,20,0.6), 10px -10px 1px rgba(20,20,20,0.5),-10px -10px 1px rgba(20,20,20,0.5),10px 10px 1px rgba(50,50,50,0.5),-10px 10px 1px rgba(50,50,50,0.5), 8px -10px 10px rgba(20,20,20,0.6), -8px 10px 10px rgba(60,60,60,0.6), inset -10px 10px 40px rgba(200,0,20,0.05), inset 10px -10px 40px rgba(20,0,200,0.1);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.triangle{
  -webkit-transform: translate(-50%,-50%) rotate(5deg);
  transform: translate(-50%,-50%) rotate(5deg);
  position: absolute;
	width: 0px; 
	height: 0px;
  left: 50%;
  top: 60%;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-top: 90px solid rgba(60,10,120,0.0);
  opacity: 1;
  transition: ease-in all 0.2s;
}

.textbox{
  font: 400 16px Oswald;
  text-shadow: 1px 1px 2px rgba(40,0,200,0.8);
  color: rgba(240,220,240,0.8);
  text-align: center;
  line-height: 1.1;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%) ;
  position: absolute;
  text-transform: uppercase;
	width: 48px; 
	height: 50px;
  left: 50%;
  top: 50%;
  transition: ease-in all 0.2s;
}



.shadow{
  background: rgba(10,10,10,1);
  border-radius: 100%;
  height: 200px;
  width: 200px; 
  filter: blur(40px);
  -webkit-filter: blur(50px);
  position: absolute;
  margin-top: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) scaleY(0.1);
  transform: translate(-50%,-50%) scaleY(0.1);
  z-index: 1;
}

.container {
    display:flex;
    justify-content: center;
}

.input-group {
    display: block;
    width: 441px;
    max-width: 100%;
    height: 82px;
    border: 0;
    background-color: #ffffff;
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 41px;
    border-top-left-radius: 41px;
    border-top-right-radius: 0;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    margin-bottom: 22px;
    position: relative;
    font-size: 17px;
    color: #a7b4c1;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
      box-shadow 0.1s ease-in-out;
  }
  
  .input-group:hover {
    box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
  }
  
  .input-group input {
    position: absolute;
    border: 0;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    height: 65px;
    width: 100%;
    padding: 0 53px;
    box-sizing: border-box;
    z-index: 3;
    display: block;
    color: #1a6fc4;
    font-size: 19px;
    font-family: "Oxygen", sans-serif;
    transition: top 0.1s ease-in-out;
  }
  
  .input-group input::placeholder {
    color: rgba(0, 0, 0, 0);
  }
  
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
    top: 17px;
  }
  
  .input-group label {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 53px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    cursor: text;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    bottom: 20px;
    font-size: 13px;
    opacity: 0.7;
  }
  
  .req-mark {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 33px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
    color: gray;
    font-family: "Ubuntu", sans-serif;
  }
  
  